.gallery {
<<<<<<< HEAD
    background-color: $color-grey-dark-2;
=======
    background-color: $color-grey-dark-1;
>>>>>>> 9179918247c3faf167f1e39c4d20f70401e4ed3f
    grid-column: full-start / full-end;
}