.realtors {
    background-color: $color-secondary;
<<<<<<< HEAD
    grid-column: col-start 7 / full-end;
=======
    grid-column:  col-start 7 / full-end;
>>>>>>> 9179918247c3faf167f1e39c4d20f70401e4ed3f
}